.Home {
    padding-top: 72px;
}

.Auth {
    padding: 20px;
    border: 2px solid rgba(220, 220, 220);
    border-radius: 20px;
    margin: 0 auto;
    width: 350px;
}

.ShowSignin {
    text-align: center;
    margin: 20px auto;
}

.ShowSignin a {
    text-decoration: none;
    color: rgba(255, 0, 0);
}

@media ( min-width: 500px ) {
    .Auth {
        width: 400px;
    }
}


@media ( min-width: 610px ) {
    .Auth {
        width: 500px;
    }
}